<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samarthgupta.sfa_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.HomeActivity"
            android:label="Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.SignInActivity"
            android:label="Sign in">

        </activity>
        <activity
            android:name=".Activities.RegisterActivity"
            android:label="Register"
            android:parentActivityName=".Activities.SignInActivity" />
        <activity
            android:name=".Activities.ClientDetailsActivity"
            android:label="Client Details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.JobDetailsActivity"
            android:label="Job Details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.QcDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.TasksActivity"
            android:parentActivityName=".Activities.HomeActivity" />
        <activity
            android:name=".Activities.UpdateProgressActivity"
            android:parentActivityName=".Activities.TasksActivity" />
        <activity android:name=".Activities.SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activities.Books_Processes"/>
        <activity
            android:name=".Activities.Box_Processes"/>
        <activity
            android:name=".Activities.Cover_Processes"/>
    </application>

</manifest>