<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samarthgupta.sfa_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_s"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.HomeActivity"
            android:label="SFA"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.SignIn_Register.SignInActivity"
            android:label="SFA">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SignIn_Register.RegisterActivity"
            android:label="Register"
            android:parentActivityName=".Activities.SignIn_Register.SignInActivity" />
        <activity
            android:name=".Activities.CreatingWorkTicket.ClientDetailsActivity"
            android:label="Client Details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.CreatingWorkTicket.JobDetailsActivity"
            android:label="Job Details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.TasksActivity"
            android:parentActivityName=".Activities.HomeActivity" />
        <activity
            android:name=".Activities.SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.CreatingWorkTicket.X_Processes.Books_Processes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.CreatingWorkTicket.X_Processes.Box_Processes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.CreatingWorkTicket.X_Processes.Cover_Processes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.Tasks.Books_Task" />
        <activity android:name=".Activities.Tasks.Box_Task" />
        <activity android:name=".Activities.Tasks.Cover_Task" />
        <activity android:name=".Activities.UpdateActivity" />
        <activity android:name=".Activities.TaskDetailsActivity" />
        <activity
            android:name=".Activities.ReportActivity"
            android:label="Report a Problem" />
        <activity
            android:name=".Activities.Settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".Activities.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.samarthgupta.sfa_app.Activities.HomeActivity" />
        </activity>
        <activity android:name=".Activities.Settings.ChangePassword" />
        <activity android:name=".Activities.Settings.QueryActivity" />
        <activity android:name=".Activities.ReportTypeListActivity" />
    </application>

</manifest>